@model Monkey
@{
}
<div class="card" style="width: 18rem;">
@*     <img src="..." class="card-img-top" alt="..."> *@
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Un petit singe très sympathique.</p>
        <a href="#" class="btn btn-primary">Donne une cacahuète au singe</a>

    </div>
</div>